body {
	background-color: #09c88e;
    color: white;
}

html, body {
	height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.mainbody {
    margin-top: 10%;
 }

.thin {
	font-weight: 300;
}

.move {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
}

.move:hover {
	top: -0.5em;
}

.social {
	width: auto;
	height: 2.5em;
	margin: 1%;
	vertical-align: middle;
	border: 3px solid transparent;
	color: white;
}

#contact {
	list-style-type: none;
}



