body {
	background-color: #e0e0e0;
    color: black;
}

#profile {
	border-radius: 50%;
    border:0.08em black;
    border-style: double solid double solid
}

a {
	color:inherit;
	text-decoration:underline;
}
.light:hover{
	color:black; !important
}

.dark:hover{
	color:white; !important
}

html, body {
	height: 100%;
}
hr {
	background-color: #53c69b; 
	/*	#09C88F */
	height:0.2em;
}

#inline {
	display: inline;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.mainbody {
    margin-top: 5%;
 }

.thin {
	font-weight: 300;
}

.move {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
}

.move:hover {
	top: -0.5em;
}

.social {
	width: auto;
	height: 1.75em;
	margin: 1%;
	vertical-align: middle;
	border: 3px solid transparent;
	color: white;
}

#contact {
	list-style-type: none;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
