#globalNav {
	position: sticky;
	z-index: 1;
	width: 100%;
	height: 3.125em;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color:#606060;
	color: #2A363B;
}

	#globalNav ul {
		margin: 1.25em auto;
		padding: 0;
		position: relative;
		-webkit-padding-start: 0;
		   -moz-padding-start: 0;
		text-align: center;
	}
	
		#globalNav li {
			padding: 0 2.5%;
			display: inline-block;
		}
		
			@media screen and (max-width: 528px) {
				#globalNav li {
					padding: 0 1em;
				}
			}
	
	#globalNav a {
		position: relative;
		top: 50%;
		padding: 0 0.25em;
		-moz-padding-start: 0;
		font-size: 1em;
		color: #FFFFFF;
	}
	
		#globalNav a:hover {
			position: relative;
		top: 50%;
			padding: 0 0.25em;
			-moz-padding-start: 0;
			font-size: 1.5em;
			color: #FFFFFF;
		    -webkit-transition: .3s ease-in;
		       -moz-transition: .3s ease-in;
		        -ms-transition: .3s ease-in;
		         -o-transition: .3s ease-in;
		            transition: .3s ease-in;
		}

body {
    margin: 60px auto;
    background-color: #F7F7F5;
    width: 80%;
	top:80;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Georgia', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.8em;
    font-family:'Helvetica', 'Georgia', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.oval {
    width: 500px;
    height: 80px;
    background: #add8e6;
    border-radius: 80px;
}

div.relative {
	position: relative;
	left: 20px;
	top: 20px;
}
