#globalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606060;
}

#globalNav li {
    float: left;
}

#globalNav li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-size: 1.3em;
}

#globalNav  .hover {
    background-color:#000000;
	color: white!important;
}

#globalNav  li:hover {
    background-color:#000000;
	color: white!important;
}
#globalNav li a:hover {
    background-color:#000000;
	color: white!important;
}
#globalNav li:hover a {
	color = white!important;
}
		
#globalNav .active {
			background-color: #6D9BF1;
			color: white;
		}
		
	#globalNav .active a:hover {
		color = white!important;
	}
	
		#globalNav .active:hover a{
		color = white!important;
	}


/* The Modal (background) */
.modal {
    /* display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	min-width: 100px;
	width: auto;
	}

	.modal-dialog {
    position: relative;
    display: table; /* This is important */ 
    overflow: auto;
    width: auto !important;
    max-width: 100% 
}
	
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}	

body {
    background-color: #f0f8ff;
	margin: 0;
	padding: 0;
}
nav u1, footer ul {
    font-family:'Helvetica', 'Georgia', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav u1 li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-weight: 700;
	font-style: normal;
}

h2 { font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; 
	font-size: 1.7em; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #000000;
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	margin: 60px auto; 
	width: 85%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
	margin: 60px auto 60px; 
	width: 85%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

