#globalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606060;
}

#globalNav li {
    float: left;
}

#globalNav li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "helvetica";
	font-weight: bold;
}

#globalNav li a:hover {
    background-color:#000000;
	color: #fffffff!important;
}
#globalNav li:hover a {
	color = #fffffff!important;
}
		
#globalNav .active {
			background-color: #F3DC8A;
			color: #000000;
		}
		
	#globalNav .active a: hover {
		color = #ffffff!important;
	}
	
		#globalNav .active: hover a{
		color = #ffffff;
	}
		

body {
    background-color: #f0fff0;
	margin: 0;
	padding: 0;
}
nav u1, footer ul {
    font-family:'Helvetica', 'Georgia', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav u1 li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.8em;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-weight: 700;
	font-style: normal;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	margin: 60px auto; 
	width: 85%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
	margin: 60px auto 60px; 
	width: 85%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

