<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class = "bgimage2"> 
				<div class = "title">About</div>
				<div class = "navwrap"> 
					<nav id = "myNav">
			    		<ul>
				        	<li><a href="/">Home</a></li
							><li><a class = "active" href="/about">About</a></li
							><li><a href="/projects">Projects</a></li>
			    		</ul>
					</nav>
			    	</div>
			</div>
			<div class = "container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hallisky@uw.edu">email</a></li>
	        		<li><a href="https://github.com/shallinan1">github.com/shallinan1</a></li>
				</ul>
			</footer>
			    {% include analytics.html %}
			<script>
				window.onscroll = function() {myFunction()};

				var navbar = document.getElementById("myNav");
				var sticky = navbar.offsetTop;

				function myFunction() {
					 if (window.pageYOffset >= sticky) {
					  	navbar.classList.add("sticky")
					 } 
					 else {
					    navbar.classList.remove("sticky");
					 }
				}
			</script>
		</body>
	</html>
